@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");
@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}
[transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
}

a {
  color: hsl(278, 68%, 11%);
  font-weight: 500;
  text-decoration: none;
}

input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
}
input [type=submit]:hover {
  cursor: pointer;
}

button, input[type=submit] {
  background: hsl(278, 68%, 11%);
  padding: 15px;
  color: white;
  border: none;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
}

img {
  max-width: 100%;
}

footer.flex-container {
  justify-content: center;
  align-items: flex-end;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner {
  background: url(../images/bg-main-mobile.png) center center no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
}
.banner.flex-container {
  justify-content: flex-end;
}
.banner + .section-form {
  margin-top: 60px;
  padding: 30px;
}
.banner .card {
  width: 300px;
  height: 170px;
  border-radius: 10px;
  transition: all 0.3s;
}
.banner .card.back-card {
  background: url(../images/bg-card-back.png) center center no-repeat;
  background-size: cover;
}
.banner .card.back-card .card-cvc {
  margin-right: 30px;
  height: 100%;
  color: white;
  font-weight: bold;
}
.banner .card.back-card .card-cvc.flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.banner .card.front-card {
  background: url(../images/bg-card-front.png) center center no-repeat;
  background-size: cover;
  color: white;
  position: absolute;
  padding: 0 20px;
  top: 100px;
  left: 5%;
  font-weight: 500;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.banner .card.front-card.flex-container {
  flex-direction: column;
  justify-content: space-around;
}
.banner .card .card-data {
  width: 100%;
}
.banner .card .card-data.flex-container {
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.banner .card .card-data .card-number {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1.4px;
}
.banner .card .card-data .cardholder {
  text-transform: uppercase;
}
.banner .card .card-data .flex-container {
  width: 100%;
  justify-content: space-between;
}

section.section-form.flex-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.section-form.pass-form {
  display: none;
}
section.section-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
section.section-form form label {
  font-weight: 500;
}
section.section-form form input {
  width: 100%;
  border-radius: 10px;
}
section.section-form form input.input-field {
  padding: 15px;
  font-size: 1.1rem;
  border: 1px solid hsl(279, 6%, 55%);
}
section.section-form form input.input-field:focus {
  border: none;
  border-image: linear-gradient(to right, #f00, #00f);
  border-image-slice: 1;
}
section.section-form form input.input-field.invalid-input {
  border: 2px solid hsl(0, 100%, 66%);
}
section.section-form form p {
  display: none;
  color: hsl(0, 100%, 66%);
  font-weight: 500;
}
section.section-form form p.invalid-input {
  display: block;
}
section.section-form form .form-row:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
section.section-form form .form-row:nth-of-type(3) fieldset {
  border: none;
  grid-row-start: 1;
}
section.section-form form .form-row:nth-of-type(3) fieldset.flex-container {
  gap: 10px;
}
section.section-form form .form-row:nth-of-type(3) fieldset legend {
  font-weight: 500;
}
section.section-form form .form-row:nth-of-type(3) label {
  grid-row: 1;
}
section.section-form form .form-row:nth-of-type(3) input {
  grid-row: 1;
}
section.section-form form .form-row:nth-of-type(3) p {
  grid-row: 2;
}
section.section-passed-form {
  display: none;
}
section.section-passed-form.pass-form {
  animation-name: circle-in-hesitate;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
section.section-passed-form div.flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.section-passed-form div img {
  max-width: 50%;
}
section.section-passed-form div button {
  width: 100%;
}

@media (min-height: 600) {
  .banner + section {
    margin-top: 0;
  }
}
@media (min-width: 800px) {
  body {
    grid-template-columns: 1fr 2fr;
  }
  .banner {
    background: url(../images/bg-main-desktop.png) center center no-repeat;
    background-size: cover;
    height: unset;
    grid-row: 1/3;
  }
  .banner .card.back-card {
    position: absolute;
    top: 65%;
    left: 5%;
  }
  .banner .card.front-card {
    top: 10%;
  }
  section.section-form.flex-container {
    justify-content: flex-end;
    align-items: flex-end;
  }
  section.section-form form {
    max-width: 400px;
  }
  footer {
    grid-column: 2;
  }
  footer.flex-container {
    justify-content: flex-end;
  }
}
@media (min-width: 930px) and (min-height: 500px) {
  .banner .card {
    width: 400px;
    height: 245px;
  }
  .banner .card.back-card {
    left: 0;
    top: 50%;
  }
  .banner .card.back-card .card-cvc {
    margin-right: 40px;
  }
  .banner .card.front-card {
    left: 0;
  }
  .banner .card .card-data .card-number {
    letter-spacing: 7px;
  }
  .banner .card .card-data.flex-container {
    gap: 30px;
  }
  section.section-form.flex-container {
    align-items: center;
  }
}
@media (min-width: 1200px) and (min-height: 600px) {
  .banner .card.back-card {
    left: 15%;
  }
  .banner .card.front-card {
    left: 10%;
  }
  section.section-form.flex-container {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
