.banner {
    background: url(../images/bg-main-mobile.png) center center no-repeat;
    background-size: cover;
    height: 240px;
    &.flex-container {
        justify-content: flex-end;
    }
    & + section {
        margin-top: 60px;
        padding: 30px;

    }
    .card {
        @include set-size(300px, 170px);
        border-radius: 10px;
        transition: all .3s;
        &.back-card {
            background: url(../images/bg-card-back.png) center center no-repeat;
            background-size: cover;
            .card-cvc {
                margin-right: 30px;
                height: 100%;
                color: white;
                font-weight: bold;
                &.flex-container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
        }
        &.front-card {
            background: url(../images/bg-card-front.png) center center no-repeat;
            background-size: cover;
            color: white;
            position: absolute;
            padding: 0 20px;
            top: 100px;
            left: 5%;
            font-weight: $bold-font;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
            &.flex-container {
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .card-data {
            width: 100%;
            &.flex-container {
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
            }
            .card-number {
                font-size: 20px;
                text-align: justify;
                letter-spacing: 1.4px;
            }
            .cardholder {
                text-transform: uppercase;
            }
            .flex-container {
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}
section {
    &.section-form {
        &.flex-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            max-width: 400px;
            label {
                font-weight: $bold-font;
            }
            input {
                width: 100%;
                border-radius: 10px;
                &.input-field {
                    padding: 15px;
                    font-size: 1.1rem;
                    border: 1px solid $color2;
                    &:focus {
                        border: none;
                        border-image: linear-gradient(to right, #f00, #00f);
                        border-image-slice: 1;
                    }
                    &.invalid-input {
                        border: 2px solid $color4
                    }
                }
                &[type="submit"] {
                    background: $color3;
                    padding: 15px;
                    color: white;
                    border: none;
                    font-weight: bold;
                }
            }
            .form-row:nth-of-type(3) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 15px;
                fieldset {
                    border: none;
                    grid-row-start: 2;
                    &.flex-container {
                        gap: 10px;
                    }
                }
            }
        }
    }
    &.section-completed-form-state {
        display: none;
    }
}