@media (min-height: 600) {
    .banner {
        & + section {
            margin-top: 0;
        }
    }
}
@media (min-width: 800px) {
    body {
        grid-template-columns: 1fr 2fr;
    }
    .banner {
        background: url(../images/bg-main-desktop.png) center center no-repeat;
        background-size: cover;
        height: unset;
        grid-row: 1/3;
        .card {
            &.back-card {
                position: absolute;
                top: 65%;
                left: 5%;
            }
            &.front-card {
                top: 10%;
            }
        }
    }
    section {
        &.section-form {
            &.flex-container {
                justify-content: flex-end;
                align-items: flex-end;
            }
            form {
                max-width: 400px;
            }
        }
    }
    footer {
        grid-column: 2;
        &.flex-container {
            justify-content: flex-end;
        }
    }
}
@media (min-width: 930px) and (min-height: 500px) {
    .banner {
        .card {
            @include set-size(400px, 245px);
            &.back-card {
                left: 0;
                top: 50%;
                .card-cvc {
                    margin-right: 40px;
                }
            }
            &.front-card {
                left: 0;
            }
            .card-data {
                .card-number {
                    letter-spacing: 7px;
                }
                &.flex-container {
                    gap: 30px;
                }
            }
        }
    }
    section.section-form {
        &.flex-container {
            align-items: center;
        }
    }  
}
@media (min-width: 1200px) and (min-height: 600px) {
    .banner {
        .card {
            &.back-card {
                left: 15%;
            }
            &.front-card {
                left: 10%;
            }
        }
    }
    section.section-form {
        &.flex-container {
            align-items: center;
        }
    }  
}