* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}
a {
    color: $color3;
    font-weight: $bold-font;
    text-decoration: none;
}
input {
    font-family: 'Space Grotesk', sans-serif;    
    font-weight: 300;
    [type="submit"]:hover {
        cursor: pointer;
    }
}
button, input[type='submit'] {
    background: $color3;
    padding: 15px;
    color: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
    border-radius: 10px;
}
img {
    max-width: 100%;
}
footer {
    &.flex-container {
        justify-content: center;
        align-items: flex-end;
    }
}
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}